IAKA_BASE_URL=http://iaka:8080
IAKA_JWT=
IAKA_TENANT_ID=
IAKA_EXECUTE_PATH=/workflows/execute
IAKA_STATUS_PATH=/workflows/executions/{id}

IAKA_CARTE_APP_ID=
IAKA_IDENTIFY_APP_ID=
IAKA_RGP_APP_ID=
IAKA_SYNTHESE_APP_ID=
IAKA_EVALUATION_APP_ID=
IAKA_PVTCMP_APP_ID=
IAKA_ARIANE_EXTRACTION_APP_ID=
IAKA_ARIANE_CONSOLIDATION_APP_ID=
IAKA_RENS_SYNTHESE_APP_ID=
IAKA_RENS_ZOOM_APP_ID=
IAKA_QUALITE_APP_ID=

IAKA_RAG_CORPUS_ID=
IAKA_RAG_BASE_URL=
IAKA_RAG_IAK_ID=
IAKA_RAG_MODEL=
IAKA_RAG_MAX_TOKENS=28000

POLL_INTERVAL_MS=1500
POLL_TIMEOUT_MS=600000
CARTE_POLL_TIMEOUT_MS=480000
CARTE_POLL_INTERVAL_MS=4000

RGP_API_URL=http://rgp-api:8080
RGP_API_TOKEN=changeme
RENS_API_URL=http://rens-api:8080
RENS_API_TOKEN=changeme
COTE_API_TOKEN=changeme

MAP_TILES_URL=
BAN_API_URL=
AUDIT_NIGHTLY=0
PROXY_PORT=8787
